Repository alaweimm90/alaweimm90: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, node scripts/standards-validator.js --docs, node scripts/standards-validator.js --yaml

chore(lint): apply prettier and eslint formatting
  .config/claude/settings.local.json
  .config/ide-wrapper.json
  scripts/standards-validator.js
Due: eslint --fix, prettier --write

feat(shared-utils): add comprehensive test suites and cleanup scripts
  .config/claude/settings.local.json
  .config/vscode/settings.json
  .eslintrc.json
  OPTIMIZATION_COMPLETE.md
  config/.eslintrc.js
  packages/shared-utils/src/__tests__/errors.test.ts
  packages/shared-utils/src/__tests__/logger.test.ts
  packages/shared-utils/src/__tests__/validation.test.ts
  scripts/clean-user-settings-hard.ps1
  scripts/clean-user-settings-lines.ps1
  scripts/disable-autonomy.ps1
  scripts/enable-autonomy.ps1
  scripts/repair-user-settings-json.ps1
  src/coaching-api/server.ts
Due: eslint --fix, prettier --write, node scripts/standards-validator.js --docs

feat(quality): comprehensive testing, TypeScript fixes, and final optimization summary
  FINAL_AGGRESSIVE_OPTIMIZATION_SUMMARY.md
Due: prettier --write, node scripts/standards-validator.js --docs

Fix markdown title to match standards: Ide Autonomy Setup
  docs/IDE_AUTONOMY_SETUP.md
Due: prettier --write, node scripts/standards-validator.js --docs

feat(docs): comprehensive documentation reorganization and repository structure optimization
  MASTER_OPTIMIZATION_PLAN_50_STEPS.md
  REPOSITORY_STRUCTURE.md
  apps/ai-agent-demo/index.js
  docs/DOCUMENTATION_INDEX.md
  docs/IDE_UNIFICATION_COMPLETE.md
  package-lock.json
  package.json
  scripts/add-startup-approvals.ps1
  scripts/remove-startup-approvals.ps1
  scripts/status-startup-approvals.ps1
  scripts/toggle-startup-approvals.ps1
Due: eslint --fix, prettier --write, node scripts/standards-validator.js --docs

feat(yolo): complete 50-step autonomous optimization with ultra-deep thinking
  .yolo-config.json
  YOLO_MODE_COMPLETE.md
  scripts/yolo-mode-orchestrator.js
Due: eslint --fix, prettier --write, node scripts/standards-validator.js --docs

docs: add complete execution summary for sessions 1 and 2
  COMPLETE_EXECUTION_SUMMARY.md
Due: prettier --write, node scripts/standards-validator.js --docs

feat(session3): comprehensive size analysis and optimization planning
  AGGRESSIVE_SIZE_OPTIMIZATION_PLAN.md
  ALL_OPTIMIZATION_WORK_SUMMARY.md
  apps/ai-agent-demo/app.test.js
  jest.config.js
  package.json
  packages/agent-core/tsconfig.json
  packages/context-provider/tsconfig.json
  packages/issue-library/tsconfig.json
  packages/mcp-core/tsconfig.json
  packages/shared-utils/tsconfig.json
  packages/workflow-templates/tsconfig.json
  scripts/aggressive-size-cleanup.sh
Due: eslint --fix, prettier --write, node scripts/standards-validator.js --docs

feat(cleanup): comprehensive root directory cleanup and organization
  .config/claude/settings.local.json
  .migration_before_structure.txt
  .migration_git_log.txt
  .migration_git_status.txt
  .migration_progress.md
  .pieces.config.json
  README_START_HERE.md
  jest.config.json
  package.json
  packages/ai-agent-framework/src/memory.ts
Due: eslint --fix, prettier --write, node scripts/standards-validator.js --docs

docs: add enterprise compliance completion summary
  ENTERPRISE_COMPLIANCE_COMPLETE.md
Due: prettier --write, node scripts/standards-validator.js --docs

docs: add complete cleanup journey summary
  COMPLETE_CLEANUP_JOURNEY.txt
Due: none

feat(minimal): achieve minimal & elegant root directory structure
  .config/claude/settings.local.json
  .turbo
  README.md
  docs/api/openapi/coaching-api.yaml
  docs/archive/COMPLETE_CLEANUP_JOURNEY.txt
  docs/archive/ENTERPRISE_COMPLIANCE_COMPLETE.md
  docs/archive/MINIMAL_ELEGANT_BLUEPRINT.md
  jest.config.js
  package-lock.json
  packages/ai-agent-framework/src/index.ts
  packages/ai-agent-framework/src/interfaces.ts
  packages/ai-agent-framework/src/pipeline.ts
  packages/ai-agent-framework/src/sme.ts
  sandbox/_log.md
  sandbox/docs-proposals/docs-curation-list.md
  sandbox/kb-ia/knowledge-base-ia.md
  sandbox/monitoring-mock/data.json
  sandbox/monitoring-mock/index.html
  sandbox/research-briefs/coverage-scoping.md
  sandbox/research-briefs/deterministic-tests.md
  sandbox/research-briefs/error-middleware-best-practices.md
  sandbox/test-designs/error-middleware.spec.txt
  sandbox/test-designs/finance-api.spec.txt
  sandbox/test-matrices/error-middleware-matrix.csv
  sandbox/test-matrices/finance-api-matrix.csv
  templates/agent/package.json
  templates/mcp-server/README.md
  templates/mcp-server/package.json
  templates/mcp-server/src/index.ts
  templates/mcp-server/tsconfig.json
  templates/monorepo/package.json
Due: eslint --fix, prettier --write, node scripts/standards-validator.js --docs, node scripts/standards-validator.js --yaml

feat(templates): comprehensive standardized templates structure
  TEMPLATES_IMPLEMENTATION_COMPLETE.md
  templates/websites/e-commerce/latest/README.md
Due: prettier --write, node scripts/standards-validator.js --docs

refactor: Complete organizational cleanup and REPZ consolidation
  .metaHub/PHASE3_PROGRESS_SUMMARY.md
  .metaHub/PHASE3_VISUAL_STATUS.txt
  .metaHub/WELCOME_BACK_PHASE3.txt
  .vscode/settings.json
  README.md
  REPZ_IMPROVEMENT_WORKFLOW.md
  apps/ai-agent-demo/Dockerfile
  autonomous-improvement/README.md
  autonomous-improvement/requirements.txt
  autonomous-improvement/run.py
  autonomous-improvement/src/__init__.py
  autonomous-improvement/src/ai/__init__.py
  autonomous-improvement/src/ai/decision_engine.py
  autonomous-improvement/src/config/__init__.py
  autonomous-improvement/src/config/settings.py
  autonomous-improvement/src/database/__init__.py
  autonomous-improvement/src/database/connection.py
  autonomous-improvement/src/database/models.py
  autonomous-improvement/src/main.py
  autonomous-improvement/src/monitoring/__init__.py
  autonomous-improvement/src/monitoring/metrics.py
  autonomous-improvement/src/reporting/__init__.py
  autonomous-improvement/src/reporting/pdf_generator.py
  autonomous-improvement/src/steps/__init__.py
  autonomous-improvement/src/steps/registry.py
  autonomous-improvement/src/workflow/__init__.py
  autonomous-improvement/src/workflow/engine.py
  docker-compose.yml
  scripts/ATHLETEEDGE_AUTONOMOUS_WORKFLOW.ps1
  scripts/BENCHBARRIER_AUTONOMOUS_WORKFLOW.ps1
  scripts/athleteedge_workflow.summary.json
  scripts/benchbarrier_workflow.summary.json
Due: prettier --write, node scripts/standards-validator.js --docs, node scripts/standards-validator.js --yaml

refactor: Complete organization of all business products
  README.md
  scripts/ATHLETEEDGE_AUTONOMOUS_WORKFLOW.md
Due: prettier --write, node scripts/standards-validator.js --docs

feat: implement comprehensive CI/CD pipeline with autonomous workflow integration
  .github/CI_ENFORCEMENT_RULES.md
  .github/branch-protection-rules.json
  .github/workflows/ci.yml
Due: prettier --write, node scripts/standards-validator.js --docs, node scripts/standards-validator.js --yaml

refactor: Complete centralization with governance enforcement
  README.md
Due: prettier --write, node scripts/standards-validator.js --docs

feat(governance): implement Phase 1 meta GitHub governance
  .github/workflows/ci-matrix-build.yml
  .github/workflows/renovate.yml
  .github/workflows/scorecard.yml
  .github/workflows/turbo-ci.yml
  .metaHub/IMPLEMENTATION_SUMMARY.md
  .metaHub/IMPLEMENTATION_VERIFICATION.md
  .metaHub/MANUAL_IMPLEMENTATION_GUIDE.md
  .metaHub/QUICK_START.md
  .metaHub/READY_TO_COMMIT.md
  .metaHub/RENOVATE_LOCAL_VS_GITHUB.md
  .metaHub/backstage/Dockerfile
  .metaHub/backstage/app-config.yaml
  .metaHub/backstage/catalog-info.yaml
  .metaHub/backstage/package.json
  .metaHub/backstage/server.js
  .metaHub/policies/README.md
  .metaHub/policies/docker-security.rego
  .metaHub/policies/pre-commit-opa.sh
  .metaHub/policies/repo-structure.rego
  .metaHub/renovate.json
  .metaHub/security/scorecard/history/.gitkeep
  SECURITY.md
  docker-compose.yml
Due: eslint --fix, prettier --write, node scripts/standards-validator.js --docs, node scripts/standards-validator.js --yaml

fix: establish correct canonical structure
  .metaHub/README.md
Due: prettier --write, node scripts/standards-validator.js --docs

feat(governance): implement Tier 1 meta GitHub governance tools
  .github/CODEOWNERS
  .github/workflows/super-linter.yml
  .metaHub/README.md
Due: prettier --write, node scripts/standards-validator.js --docs, node scripts/standards-validator.js --yaml

feat(governance): implement Tier 2 policy hardening with OPA/Conftest and Policy-Bot
  .github/workflows/opa-conftest.yml
  .metaHub/POLICY_BOT_SETUP.md
  .metaHub/README.md
  .metaHub/policy-bot.yml
Due: prettier --write, node scripts/standards-validator.js --docs, node scripts/standards-validator.js --yaml

feat(governance): implement Tier 3 strategic deployment - Backstage, SLSA, Allstar
  .allstar/ALLSTAR_SETUP.md
  .allstar/allstar.yaml
  .allstar/branch_protection.yaml
  .github/workflows/slsa-provenance.yml
  .metaHub/GOVERNANCE_SUMMARY.md
  .metaHub/README.md
Due: prettier --write, node scripts/standards-validator.js --docs, node scripts/standards-validator.js --yaml

docs: add comprehensive governance documentation suite
  .metaHub/CHANGELOG.md
  .metaHub/DEVELOPER_GUIDE.md
  .metaHub/MONITORING_CHECKLIST.md
  .metaHub/NEXT_STEPS.md
  .metaHub/README.md
  .metaHub/TROUBLESHOOTING.md
  .metaHub/security/BASELINE_METRICS.md
Due: prettier --write, node scripts/standards-validator.js --docs

docs: add quick reference card for daily operations
  .metaHub/QUICK_REFERENCE.md
Due: prettier --write, node scripts/standards-validator.js --docs

fix(opa): update conftest flag from --input to --parser
  .github/workflows/opa-conftest.yml
Due: prettier --write, node scripts/standards-validator.js --yaml

docs(governance): add clean start summary and update status
  .metaHub/CLEAN_START_SUMMARY.md
  .metaHub/QUICK_REFERENCE.md
Due: prettier --write, node scripts/standards-validator.js --docs

refactor(structure): convert to pure meta governance repository
  .claude/settings.local.json
  .metaHub/STRUCTURE_ANALYSIS.md
  .metaHub/policies/repo-structure.rego
  .vscode/settings.json
  GitHub.code-workspace
  README.md
Due: prettier --write, node scripts/standards-validator.js --docs

docs(structure): add structure cleanup completion summary
  .metaHub/STRUCTURE_CLEANUP_COMPLETE.md
Due: prettier --write, node scripts/standards-validator.js --docs

refactor(hooks): simplify pre-commit for meta governance + document workflow cleanup
  .husky/pre-commit
  .metaHub/WORKFLOWS_CLEANUP.md
Due: prettier --write, node scripts/standards-validator.js --docs

docs(metahub): update README with cleanup status and current tool coverage
  .metaHub/README.md
Due: prettier --write, node scripts/standards-validator.js --docs

docs(status): add comprehensive final status report
  .metaHub/FINAL_STATUS.md
Due: prettier --write, node scripts/standards-validator.js --docs

fix(super-linter): simplify config for meta governance repository
  .github/workflows/super-linter.yml
Due: prettier --write, node scripts/standards-validator.js --yaml

fix(super-linter): remove non-existent config file references
  .github/workflows/super-linter.yml
Due: prettier --write, node scripts/standards-validator.js --yaml

fix(super-linter): set continue-on-error for meta governance repository
  .github/workflows/super-linter.yml
Due: prettier --write, node scripts/standards-validator.js --yaml

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{json,md,yml,yaml}
  node scripts/standards-validator.js --docs: any of: *.md
  node scripts/standards-validator.js --yaml: any of: *.{yml,yaml}
