Repository alaweimm90/alaweimm90: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, node scripts/standards-validator.js --docs, node scripts/standards-validator.js --yaml

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix"],
  "*.{json,md,yml,yaml}": ["prettier --write"],
  "*.md": ["node scripts/standards-validator.js --docs"],
  "*.{yml,yaml}": ["node scripts/standards-validator.js --yaml"]
}

docs(operations): add performance budgets and build optimization runbook
  docs/operations/performance-budgets.md
  docs/operations/runbooks/build-optimization.md
Due: prettier --write, node scripts/standards-validator.js --docs

docs: add ADR framework, governance automation, and deployment runbooks
  docs/architecture/decisions/0000-template.md
  docs/architecture/decisions/0001-use-adr-for-architecture-decisions.md
  docs/architecture/decisions/README.md
  docs/governance/automation-guide.md
  docs/operations/runbooks/deploy-production.md
  docs/operations/runbooks/rollback.md
Due: prettier --write, node scripts/standards-validator.js --docs

chore(governance): add ADR directory to CODEOWNERS
  CODEOWNERS
Due: none

refactor(meta): additional Python code optimizations
  .metaHub/scripts/meta.py
Due: none

refactor(meta): minor code organization improvements
  .metaHub/scripts/meta.py
Due: none

docs: document Vitest test discovery issue
  docs/operations/known-issues.md
Due: prettier --write, node scripts/standards-validator.js --docs

docs(metahub): Add Python scripts summary documentation
  .metaHub/scripts/SUMMARY.md
Due: prettier --write, node scripts/standards-validator.js --docs

feat(ai): Add Meta-Orchestration Master Superprompt
  .ai/context.yaml
  .ai/superprompts/meta-orchestration-master.yaml
Due: prettier --write, node scripts/standards-validator.js --yaml

fix: downgrade Vitest to 3.2.4 to fix test discovery
  docs/operations/known-issues.md
  package-lock.json
  package.json
Due: prettier --write, node scripts/standards-validator.js --docs

fix(cli): Fix governance CLI imports and add telemetry operation tracking
  .metaHub/telemetry/events.jsonl
  docs/governance/CODEMAPS.md
  docs/index.md
  tools/cli/governance.py
  tools/cli/governance_stubs.py
  tools/lib/telemetry.py
Due: prettier --write, node scripts/standards-validator.js --docs

docs: add architectural codemaps with 24 trace diagrams across 6 systems
  .metaHub/catalog/catalog.json
  .metaHub/checkpoints/checkpoint-latest.json
  .metaHub/scripts/BADGES.md
  .metaHub/scripts/MANIFEST.in
  .metaHub/scripts/README.md
  .metaHub/scripts/__init__.py
Due: prettier --write, node scripts/standards-validator.js --docs

docs: update performance budgets with latest metrics
  docs/operations/performance-budgets.md
Due: prettier --write, node scripts/standards-validator.js --docs

docs: add Claude Opus codemap generation guide with MCP instructions
  docs/guides/CODEMAP-GENERATION-GUIDE.md
Due: prettier --write, node scripts/standards-validator.js --docs

refactor(ai): Extract route handlers and tool metadata to reduce file sizes
  tools/ai/api/routes.ts
  tools/ai/api/server.ts
  tools/ai/docs/generator.ts
  tools/ai/docs/tools-metadata.ts
Due: eslint --fix

docs: add state-of-the-art UI showcase with 25+ animations and 5 design systems
  lovable.md
Due: prettier --write, node scripts/standards-validator.js --docs

docs: fix broken links and add guides README
  docs/guides/README.md
  docs/index.md
Due: prettier --write, node scripts/standards-validator.js --docs

feat(ai): Implement all 8 enhancement recommendations
  tests/integration/mcp-servers.test.ts
  tools/ai/api/routes.ts
  tools/ai/api/server.ts
  tools/ai/cache/compliance-cache.ts
  tools/ai/dashboard/index.html
  tools/ai/handoff/persistence.ts
  tools/ai/notifications/webhooks.ts
  tools/cli/completions/bash-completion.sh
  tools/cli/completions/powershell-completion.ps1
Due: eslint --fix

chore: remove temporary files (lovable.md, debug-report.md)
  lovable.md
Due: prettier --write, node scripts/standards-validator.js --docs

fix(ci): remove Windows-only rollup package breaking Linux CI
  package-lock.json
  package.json
Due: prettier --write

fix(python): resolve all 49 ruff lint errors
  .metaHub/scripts/ai/agent_mcp_integrator.py
  .metaHub/scripts/ai/ai_audit.py
  .metaHub/scripts/ai/hallucination_verifier.py
  .metaHub/scripts/catalog.py
  .metaHub/scripts/checkpoint.py
  .metaHub/scripts/compliance/compliance_validator.py
  .metaHub/scripts/enforce.py
  .metaHub/scripts/integration/mcp_cli_wrapper.py
  .metaHub/scripts/integration/mcp_server_tester.py
  .metaHub/scripts/monitoring/telemetry_dashboard.py
  .metaHub/scripts/orchestration/orchestration_checkpoint.py
  .metaHub/scripts/orchestration/orchestration_telemetry.py
  .metaHub/scripts/orchestration/orchestration_validator.py
  .metaHub/scripts/orchestration/self_healing_workflow.py
  .metaHub/scripts/setup/create_github_repos.py
  .metaHub/scripts/setup/push_monorepos.py
  .metaHub/scripts/setup/setup_repo_ci.py
  .metaHub/scripts/utils/sync_governance.py
  .metaHub/scripts/workflows/devops_workflow_runner.py
  .metaHub/scripts/workflows/quick_start.py
Due: none

feat(security): Add API authentication and coverage reporting
  .github/workflows/ci.yml
  codecov.yml
  tools/ai/api/auth.ts
  tools/ai/api/server.ts
Due: eslint --fix, prettier --write, node scripts/standards-validator.js --yaml

fix(ci): add automation/core module and update gitignore
  .gitignore
  automation/core/AutomationCore.ts
  automation/core/index.ts
  automation/core/utils.ts
Due: eslint --fix

fix(ts): prefix unused res parameter with underscore in auth.ts
  tools/ai/api/auth.ts
Due: eslint --fix

docs: merge and refine UI showcase with bolt.md - 43+ templates, 6 design systems, 25+ animations
  .metaHub/archive/consolidated-20251202/libs/benchmarking/core.py
  .metaHub/archive/consolidated-20251202/libs/scientific_computing/core/__init__.py
  .metaHub/archive/consolidated-20251202/libs/scientific_computing/core/constants.py
  .metaHub/scripts/dedupe_tools.py
  .metaHub/scripts/refactor_orgs.py
  bolt.md
  lovable.md
  tools/ai/mcp/server.ts
  tools/atlas/core/kilo-bridge.ts
  tools/atlas/core/kilo-integration.ts
  tools/atlas/core/kilo-migration.ts
Due: eslint --fix, prettier --write, node scripts/standards-validator.js --docs

feat(api): Phase 1 & 2 - OpenAPI docs, health checks, E2E tests
  .metaHub/reports/TOOL_CONSOLIDATION_PLAN.md
  .metaHub/reports/tool-deduplication.json
  .metaHub/scripts/consolidate_tools.py
  tests/e2e/api-endpoints.test.ts
  tools/ai/api/auth.ts
  tools/ai/api/openapi.yaml
  tools/ai/api/routes.ts
Due: eslint --fix, prettier --write, node scripts/standards-validator.js --docs, node scripts/standards-validator.js --yaml

feat(docker): Phase 3 - Docker containerization
  .dockerignore
  Dockerfile
  docker-compose.yml
  prometheus.yml
Due: prettier --write, node scripts/standards-validator.js --yaml

fix(ci): add @vitest/coverage-v8 for test coverage in CI
  package-lock.json
  package.json
Due: prettier --write

feat(realtime): Phase 4 - WebSocket server for live dashboard
  tests/unit/websocket.test.ts
  tools/ai/api/websocket.ts
  tools/ai/dashboard/index.html
Due: eslint --fix

docs: add consolidation phase 1 plan and pending changes
  .github/workflows/reusable-universal-ci.yml
  .metaHub/reports/CONSOLIDATION_COMPLETE.md
  .metaHub/reports/CONSOLIDATION_PHASE_2.md
  .metaHub/reports/MERGE_RECOMMENDATIONS.md
  .metaHub/reports/NEXT_STEPS.md
  .metaHub/reports/PHASE_3_COMPLETE.md
  .metaHub/reports/SESSION_COMPLETE.md
  .metaHub/reports/merge-analysis.json
  .metaHub/reports/tool-deduplication.json
  .metaHub/scripts/analyze_merges.py
  .metaHub/scripts/extend_consolidation.py
  .metaHub/scripts/generate_ci.py
  .metaHub/scripts/next_actions.py
  .metaHub/scripts/phase3_consolidate.py
  COMPANY_AUDIT_AND_NAMING.md
  CONSOLIDATION_PHASE_1.md
  REFACTOR_COMPLETE.md
  package.json
  tools/ai/mcp/server.ts
  tools/ai/utils/database.ts
  tools/config/README.md
  tools/config/eslint.config.js
  tools/config/playwright.config.ts
  tools/config/ruff.toml
  tools/config/vite.config.ts
  tools/config/vitest.config.ts
  tools/docker/Dockerfile.node
  tools/docker/Dockerfile.python
  tools/docker/README.md
Due: eslint --fix, prettier --write, node scripts/standards-validator.js --docs, node scripts/standards-validator.js --yaml

fix(ci): resolve TypeScript and Python lint errors from new code
  .metaHub/scripts/dedupe_tools.py
  .metaHub/scripts/extend_consolidation.py
  tests/unit/websocket.test.ts
  tsconfig.json
Due: eslint --fix, prettier --write

refactor: Phase 1 - Consolidate AI systems into .ai/
  .ai/README.md
  .ai/agents/config/agents.yaml
  .ai/agents/config/devops-agents.yaml
  .ai/agents/config/repz.workflow.yaml
  .ai/agents/config/workflows.yaml
  .ai/agents/templates/agent_template.yaml
  .ai/agents/templates/developer_agent.yaml
  .ai/agents/templates/research_agent.yaml
  .ai/context.yaml
  .ai/orchestration/config/orchestration.yaml
  .ai/orchestration/patterns/evaluator_optimizer.yaml
  .ai/orchestration/patterns/orchestrator_workers.yaml
  .ai/orchestration/patterns/parallelization.yaml
  .ai/orchestration/patterns/prompt_chaining.yaml
  .ai/orchestration/patterns/routing.yaml
  .ai/orchestration/patterns/sequential_thinking.yaml
  .ai/scripts/checkpoint.sh
  .ai/scripts/context-compressor.sh
  .ai/scripts/cost-tracker.sh
  .ai/scripts/dashboard.sh
  .ai/scripts/doc-search.py
  .ai/scripts/parallel-executor.sh
  .ai/scripts/secrets-manager.sh
  .ai/scripts/self-improving.sh
  .ai/scripts/task-router.sh
  .ai/scripts/template-manager.sh
  .ai/scripts/test-runner.sh
  .ai/scripts/tool-chainer.sh
  .ai/scripts/validate.sh
  .ai/workflows/config/codebase_audit.yaml
  .ai/workflows/config/parallel_development.yaml
  .ai/workflows/config/parallel_workflows.yaml
  .ai/workflows/config/workflows.yaml
  .ai/workflows/templates/bug_fix_workflow.yaml
  .ai/workflows/templates/code_review_workflow.yaml
  .ai/workflows/templates/refactoring_workflow.yaml
  .ai/workflows/templates/research_workflow.yaml
  .ai/workflows/templates/workflow_template.yaml
  for-augment.md
Due: prettier --write, node scripts/standards-validator.js --docs, node scripts/standards-validator.js --yaml

refactor: Phase 2 - Clarify ATLAS implementation vs runtime data
  .atlas/.gitkeep
  .gitignore
  CONSOLIDATION_PHASE_2.md
  ChatGPT-Branch · Optilibria project overview.md
  ChatGPT-Naming research preferences.md
  ChatGPT-Refining tech brand identity.md
  Claude-LLC and product naming strategy.md
  MULTI_AGENT_ANALYSIS.md
  chatgpt-llc.md
  demo/atlas-demo-web/docs.html
  demo/atlas-demo-web2/docs.html
  tools/atlas/README.md
Due: prettier --write, node scripts/standards-validator.js --docs

refactor: Phase 3 - Consolidate governance into .metaHub/
  .metaHub/automation/agents/governance/dashboard.ts
  .metaHub/automation/agents/governance/index.ts
  .metaHub/automation/agents/governance/orchestrator.ts
  .metaHub/automation/agents/governance/skeptic-reviewer.ts
  .metaHub/docs/ownership.md
  .metaHub/docs/structure.md
  .metaHub/policies/security_scanning.yaml
  .metaHub/policies/technical_debt.yaml
  BUSINESS_ANALYSIS_REPORT.md
  CONSOLIDATION_PHASE_3.md
  CONSOLIDATION_PLAN.md
  FINAL_LLC_STRUCTURE_PLAN.md
  MULTI_AGENT_ANALYSIS.md
  REFINED_ANALYSIS.md
Due: eslint --fix, prettier --write, node scripts/standards-validator.js --docs, node scripts/standards-validator.js --yaml

feat: Complete action plan, landing pages, and project registry
  ACTION_PLAN.md
  COMPLETION_SUMMARY.md
  MASTER_PLAN.md
  docs/pages/brands/librex/index.html
  docs/pages/brands/talai/index.html
  projects/README.md
Due: prettier --write, node scripts/standards-validator.js --docs

docs: Add START_HERE.md as main entry point
  START_HERE.md
Due: prettier --write, node scripts/standards-validator.js --docs
