Repository alaweimm90/alaweimm90: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, node scripts/standards-validator.js --docs, node scripts/standards-validator.js --yaml

docs(success): comprehensive cleanup success report with passing workflows
  .metaHub/CLEANUP_SUCCESS.md
Due: prettier --write, node scripts/standards-validator.js --docs

Auto-commit: 2025-11-25 15:01:32
  scripts/apply-global-settings.ps1
  scripts/auto-workflow.ps1
  scripts/create-remote-repos.ps1
  scripts/instantiate-template.ps1
  scripts/setup-system-automation.ps1
Due: none

docs(audit): comprehensive GitHub portfolio audit + production-ready architecture
  ARCHITECTURE.md
  GITHUB_OS.md
  IMPLEMENTATION_GUIDE.md
  actions.md
  features.md
  gaps.md
  inventory.json
Due: prettier --write, node scripts/standards-validator.js --docs

docs(summary): executive summary of GitHub portfolio audit
  AUDIT_SUMMARY.md
Due: prettier --write, node scripts/standards-validator.js --docs

chore(bootstrap): automated repo creation script
  bootstrap.sh
Due: none

docs(bootstrap): quickstart guide for automated repo creation
  BOOTSTRAP_QUICKSTART.md
Due: prettier --write, node scripts/standards-validator.js --docs

docs(analysis): comprehensive GitHub OS specification comparison report
  SPECIFICATION_COMPARISON.md
Due: prettier --write, node scripts/standards-validator.js --docs

docs(merged): unified GitHub OS specification with complete implementations
  GITHUB_OS_MERGED.md
Due: prettier --write, node scripts/standards-validator.js --docs

feat(census): comprehensive portfolio audit & orphan remediation toolkit
  CENSUS_EXECUTION_PLAN.md
  census-policy.rego
  census-promote.sh
  census.sh
Due: prettier --write, node scripts/standards-validator.js --docs

docs(index): comprehensive toolkit index and quick reference guide
  COMPLETE_TOOLKIT_INDEX.md
Due: prettier --write, node scripts/standards-validator.js --docs

docs(master-plan): complete 8-week execution roadmap with org-level governance
  MASTER_EXECUTION_PLAN.md
Due: prettier --write, node scripts/standards-validator.js --docs

fix(governance): complete reusable workflows and honest documentation
  .claude/settings.local.json
  .gitattributes
  .github/workflows/ci.yml
  .github/workflows/gitleaks.yml
  .github/workflows/paved-road.yml
  .github/workflows/reusable-policy.yml
  .github/workflows/reusable-python-ci.yml
  .github/workflows/reusable-release.yml
  .github/workflows/reusable-ts-ci.yml
  .github/workflows/service-scorecard.yml
  README.md
Due: prettier --write, node scripts/standards-validator.js --docs, node scripts/standards-validator.js --yaml

docs(readme): update to reflect reusable workflows complete status
  README.md
Due: prettier --write, node scripts/standards-validator.js --docs

feat(allstar): add OpenSSF Allstar security governance and clean up documentation
  .allstar/SETUP.md
  .allstar/allstar.yaml
  .claude/settings.local.json
  README.md
Due: prettier --write, node scripts/standards-validator.js --docs, node scripts/standards-validator.js --yaml

docs(governance): finalize status documentation for governance contract
  README.md
Due: prettier --write, node scripts/standards-validator.js --docs

feat(examples): add complete example consumer repository for governance contract validation
  .metaHub/examples/consumer-repo/.github/workflows/ci.yml
  .metaHub/examples/consumer-repo/.meta/repo.yaml
  .metaHub/examples/consumer-repo/Dockerfile
  .metaHub/examples/consumer-repo/README.md
  .metaHub/examples/consumer-repo/docker-compose.yml
  .metaHub/examples/consumer-repo/pytest.ini
  .metaHub/examples/consumer-repo/requirements.txt
  .metaHub/examples/consumer-repo/src/main.py
  .metaHub/examples/consumer-repo/tests/test_main.py
Due: prettier --write, node scripts/standards-validator.js --docs, node scripts/standards-validator.js --yaml

docs(consumer): add comprehensive consumer guide and update README
  CONSUMER_GUIDE.md
  README.md
Due: prettier --write, node scripts/standards-validator.js --docs

refactor: transform to pure governance contract (ruthless cleanup)
  .claude/settings.local.json
  .metaHub/SECURITY.md
  .metaHub/guides/consumer-guide.md
  .metaHub/infra/examples/Dockerfile.example
  .metaHub/infra/examples/docker-compose.example.yml
  .metaHub/policies/README.md
  .metaHub/schemas/README.md
  .vscode/settings.json
  .vscode/tasks.json
  GitHub.code-workspace
  README.md
  docs/alternative-ides-setup.md
  scripts/apply-global-settings.ps1
  scripts/auto-workflow.ps1
  scripts/create-remote-repos.ps1
  scripts/instantiate-template.ps1
  scripts/setup-system-automation.ps1
Due: prettier --write, node scripts/standards-validator.js --docs, node scripts/standards-validator.js --yaml

feat(phase-2): implement portfolio-wide governance enforcement system
  .github/workflows/catalog.yml
  .github/workflows/checkpoint.yml
  .github/workflows/enforce.yml
  .metaHub/scripts/catalog.py
  .metaHub/scripts/checkpoint.py
  .metaHub/scripts/enforce.py
  .metaHub/scripts/requirements.txt
  ARCHITECTURE.md
  QUICK_START.md
Due: prettier --write, node scripts/standards-validator.js --docs, node scripts/standards-validator.js --yaml

docs(phase-3): complete strategic deployment with SLSA and Allstar
  PHASE_3_COMPLETE.md
Due: prettier --write, node scripts/standards-validator.js --docs

feat(templates): complete template system for profiles, orgs, and repos
  .metaHub/templates/README.md
  .metaHub/templates/TEMPLATES_GUIDE.md
  .metaHub/templates/consumer-repos/README_CONSUMER_TEMPLATE.md
  .metaHub/templates/examples/PROFILE_VARIABLES.json
  .metaHub/templates/profiles/README_PROFILE_TEMPLATE.md
  .metaHub/templates/template_generator.py
Due: prettier --write, node scripts/standards-validator.js --docs

refactor(structure): enforce pure governance contract - move docs to .metaHub/
  .claude/settings.local.json
  .metaHub/docs/ARCHITECTURE.md
  .metaHub/docs/PHASE_3_COMPLETE.md
  .metaHub/docs/QUICK_START.md
  .metaHub/policies/repo-structure.rego
Due: prettier --write, node scripts/standards-validator.js --docs

fix: restore personal profile README, move governance to .metaHub
  .github/divider.svg
  .github/header.svg
  .metaHub/README.md
  README.md
Due: prettier --write, node scripts/standards-validator.js --docs

style(docs): apply consistent theme across all README files
  .metaHub/README.md
  .metaHub/policies/README.md
  .metaHub/schemas/README.md
  CONTRIBUTING.md
  GOVERNANCE.md
  SECURITY.md
Due: prettier --write, node scripts/standards-validator.js --docs

docs(archive): transform To-Claude.md into clean documentation
  .metaHub/catalog/catalog.html
  .metaHub/catalog/catalog.json
  .metaHub/reports/audit-report.md
  .metaHub/scripts/catalog.py
  .metaHub/scripts/checkpoint.py
  .metaHub/scripts/enforce.py
  .metaHub/scripts/meta.py
  docs/archive/cascade-conversation-log.md
  docs/archive/governance-implementation-record.md
Due: prettier --write, node scripts/standards-validator.js --docs

docs(adr): add architecture decision records and cleanup
  .gitignore
  docs/adr/ADR-001-organization-monorepos.md
  docs/adr/ADR-002-opa-policy-enforcement.md
  docs/adr/ADR-003-json-schema-metadata.md
  docs/adr/README.md
Due: prettier --write, node scripts/standards-validator.js --docs

fix(workflows): graceful handling when organizations/ is gitignored
  .github/workflows/catalog.yml
  .github/workflows/checkpoint.yml
  .github/workflows/enforce.yml
  .metaHub/scripts/catalog.py
Due: prettier --write, node scripts/standards-validator.js --yaml

feat(structure): add template-based structure enforcement system
  .metaHub/reports/structure-report.json
  .metaHub/schemas/structure-schema.json
  .metaHub/scripts/structure_validator.py
  .metaHub/templates/structures/portfolio-structure.yaml
  scripts/govern.sh
  scripts/verify_and_enforce_golden_path.py
Due: prettier --write, node scripts/standards-validator.js --yaml

fix(ci): resolve all lint errors and test failures
  .claude/settings.local.json
  .github/workflows/ci.yml
  .metaHub/scripts/structure_validator.py
  tests/test_catalog.py
  tests/test_checkpoint.py
  tests/test_enforce_metahub.py
  tests/test_enforcement.py
  tests/test_meta.py
Due: prettier --write, node scripts/standards-validator.js --yaml

feat(governance): complete GitHub optimization and CI/CD enforcement
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/dependabot.yml
  .github/workflows/auto-merge-dependabot.yml
  .github/workflows/health-dashboard.yml
  .github/workflows/release.yml
  .github/workflows/structure-enforce.yml
  .metaHub/scripts/setup_org.py
  .pre-commit-config.yaml
Due: prettier --write, node scripts/standards-validator.js --docs, node scripts/standards-validator.js --yaml

fix(lint): remove unused imports from setup_org.py
  .metaHub/scripts/setup_org.py
Due: none

feat(docs): add mkdocs documentation site
  .github/workflows/docs.yml
  docs/index.md
  mkdocs.yml
Due: prettier --write, node scripts/standards-validator.js --docs, node scripts/standards-validator.js --yaml

feat(governance): add AI-powered audit system
  .github/workflows/ai-governance-audit.yml
  .metaHub/reports/governance-audit.md
  .metaHub/schemas/repo-schema.json
  .metaHub/scripts/ai_audit.py
Due: prettier --write, node scripts/standards-validator.js --docs, node scripts/standards-validator.js --yaml

fix(governance): resolve YAML syntax in weekly-governance-check workflow
  .claude/settings.local.json
  .github/workflows/weekly-governance-check.yml
  .metaHub/catalog/catalog.json
  .metaHub/checkpoints/checkpoint-20251126-211640.json
  .metaHub/scripts/create_github_repos.py
  .metaHub/scripts/push_monorepos.py
  .metaHub/scripts/setup_repo_ci.py
  .metaHub/scripts/sync_governance.py
  .vscode/settings.json
  audit-results.json
  docs/GOVERNANCE_SYSTEM_GUIDE.md
Due: prettier --write, node scripts/standards-validator.js --docs, node scripts/standards-validator.js --yaml

feat(sync): improve push_monorepos.py for Windows compatibility
  .metaHub/scripts/push_monorepos.py
Due: none

fix(workflow): weekly governance check now clones actual GitHub monorepos
  .github/workflows/weekly-governance-check.yml
Due: prettier --write, node scripts/standards-validator.js --yaml

feat(governance): add root directory structure policy (ADR-002)
  .gitignore
  .metaHub/policies/root-structure.yaml
  audit-results.json
  docs/adr/ADR-002-root-structure-policy.md
Due: prettier --write, node scripts/standards-validator.js --docs, node scripts/standards-validator.js --yaml

feat(governance): add root structure validation to structure_validator.py
  .metaHub/scripts/structure_validator.py
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{json,md,yml,yaml}
  node scripts/standards-validator.js --docs: any of: *.md
  node scripts/standards-validator.js --yaml: any of: *.{yml,yaml}
