Repository alaweimm90/alaweimm90: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, node scripts/standards-validator.js --docs, node scripts/standards-validator.js --yaml

docs(architecture): add Golden Path / IDP architecture documentation
  docs/ARCHITECTURE.md
  templates/org-github/ISSUE_TEMPLATE/bug_report.md
  templates/org-github/ISSUE_TEMPLATE/feature_request.md
  templates/org-github/PULL_REQUEST_TEMPLATE.md
  templates/org-github/README.md
  templates/org-github/SECURITY.md
  templates/org-github/manifest.json
  templates/org-github/profile/README.md
  templates/org-github/workflow-templates/ci.properties.json
  templates/org-github/workflow-templates/ci.yml
Due: prettier --write, node scripts/standards-validator.js --docs, node scripts/standards-validator.js --yaml

feat(docs): add interactive Mermaid.js codemap
  docs/CODEMAP.md
  package.json
  scripts/generate-codemap.ts
Due: eslint --fix, prettier --write, node scripts/standards-validator.js --docs

feat(ai): add AI orchestration and feedback system
  .ai/context.yaml
  .ai/metrics.json
  .ai/task-history.json
  .github/workflows/ai-feedback.yml
  CLAUDE.md
  docs/AI_ORCHESTRATION.md
  package.json
  tools/ai/dashboard.ts
  tools/ai/orchestrator.ts
  tools/ai/sync.ts
Due: eslint --fix, prettier --write, node scripts/standards-validator.js --docs, node scripts/standards-validator.js --yaml

fix(ai): resolve ESLint errors in enterprise AI patterns
  package.json
  tools/ai/cache.ts
  tools/ai/compliance.ts
  tools/ai/monitor.ts
  tools/ai/telemetry.ts
Due: eslint --fix, prettier --write

feat(ai): add error handling, security scanning, and issue management
  .github/workflows/ai-feedback.yml
  package.json
  tools/ai/errors.ts
  tools/ai/issues.ts
  tools/ai/security.ts
Due: eslint --fix, prettier --write, node scripts/standards-validator.js --yaml

chore(ai): add unified tools index and entry point
  package.json
  tools/ai/index.ts
Due: eslint --fix, prettier --write

refactor: consolidate directory structure
  tools/ai-suite/README.md
  tools/ai-suite/integrations/atlas.ts
  tools/ai-suite/package.json
  tools/ai-suite/src/cli/index.ts
  tools/ai-suite/src/index.ts
  tools/ai-suite/src/tools/architecture-analyzer/index.ts
  tools/ai-suite/src/tools/doc-generator/index.ts
  tools/ai-suite/src/tools/performance-profiler/index.ts
  tools/ai-suite/src/tools/review-assistant/index.ts
  tools/ai-suite/src/tools/security-scanner/index.ts
  tools/ai-suite/src/tools/test-generator/index.ts
  tools/ai-suite/src/tools/test-generator/types.ts
  tools/ai-suite/test-integration.ts
  tools/ai-suite/tsconfig.json
Due: eslint --fix, prettier --write, node scripts/standards-validator.js --docs

docs: clean up documentation bloat (~116KB reduced)
  .metaHub/docs/ARCHITECTURE.md
  .metaHub/docs/QUICKSTART.md
  .metaHub/reports/governance-audit.md
  docs/AI_ORCHESTRATION.md
  docs/ATLAS-API.md
  docs/ATLAS-QUICK-START.md
  docs/ATLAS-README.md
  docs/DUPLICATION_ANALYSIS_REPORT.md
  docs/HUB_IMPLEMENTATION_PLAN.md
  docs/HUB_SPOKE_ARCHITECTURE.md
  docs/HUB_SPOKE_TRANSFORMATION_COMPLETE.md
  docs/RATIONALIZATION_ROADMAP.md
  docs/REPOSITORY_RATIONALIZATION_GUIDE.md
Due: prettier --write, node scripts/standards-validator.js --docs

fix: wire governance validators into CI/CD
  .github/workflows/enforce.yml
  .husky/pre-commit
Due: prettier --write, node scripts/standards-validator.js --yaml

feat(ai): add shared file-persistence utility
  tools/ai/utils/file-persistence.ts
  tools/ai/utils/index.ts
Due: eslint --fix

refactor(ai): consolidate file I/O with shared utility
  .eslintignore
  tools/ai/cache.ts
  tools/ai/compliance.ts
  tools/ai/errors.ts
  tools/ai/issues.ts
  tools/ai/monitor.ts
  tools/ai/orchestrator.ts
  tools/ai/security.ts
  tools/ai/sync.ts
  tools/ai/telemetry.ts
Due: eslint --fix

refactor(ai): extract CLI interfaces to separate files
  package.json
  tools/ai/cli/compliance-cli.ts
  tools/ai/cli/issues-cli.ts
  tools/ai/cli/security-cli.ts
  tools/ai/compliance.ts
  tools/ai/issues.ts
  tools/ai/security.ts
Due: eslint --fix, prettier --write

docs(atlas): add honest implementation status assessment
  docs/atlas/IMPLEMENTATION_STATUS.md
  docs/atlas/README.md
Due: prettier --write, node scripts/standards-validator.js --docs

feat(atlas): implement multi-agent orchestration foundation
  tools/atlas/agents/registry.ts
  tools/atlas/orchestration/fallback.ts
  tools/atlas/orchestration/router.ts
  tools/atlas/types/index.ts
Due: eslint --fix

docs(atlas): update implementation status with orchestration progress
  docs/atlas/IMPLEMENTATION_STATUS.md
Due: prettier --write, node scripts/standards-validator.js --docs

feat(atlas): implement LLM provider adapters
  tools/atlas/adapters/anthropic.ts
  tools/atlas/adapters/base.ts
  tools/atlas/adapters/google.ts
  tools/atlas/adapters/index.ts
  tools/atlas/adapters/openai.ts
Due: eslint --fix

docs(atlas): update status with LLM adapter implementation
  docs/atlas/IMPLEMENTATION_STATUS.md
Due: prettier --write, node scripts/standards-validator.js --docs

feat(atlas): implement REST API server
  package.json
  tools/atlas/api/cli.ts
  tools/atlas/api/index.ts
  tools/atlas/api/router.ts
  tools/atlas/api/server.ts
Due: eslint --fix, prettier --write

feat(atlas): add pluggable storage abstraction layer
  tools/atlas/storage/index.ts
  tools/atlas/storage/json-backend.ts
  tools/atlas/storage/types.ts
Due: eslint --fix

docs(atlas): update status with storage abstraction (v1.4)
  docs/atlas/IMPLEMENTATION_STATUS.md
Due: prettier --write, node scripts/standards-validator.js --docs

feat(atlas): implement SQLite storage backend
  docs/atlas/IMPLEMENTATION_STATUS.md
  package-lock.json
  package.json
  tools/atlas/storage/index.ts
  tools/atlas/storage/migrate.ts
  tools/atlas/storage/sqlite-backend.ts
Due: eslint --fix, prettier --write, node scripts/standards-validator.js --docs

feat(atlas): add Docker containerization support
  .dockerignore
  docker/atlas/Dockerfile
  docker/atlas/docker-compose.yml
  docs/atlas/IMPLEMENTATION_STATUS.md
Due: prettier --write, node scripts/standards-validator.js --docs, node scripts/standards-validator.js --yaml

feat(atlas): complete implementation to 0% documentation gap
  docs/atlas/IMPLEMENTATION_STATUS.md
  k8s/atlas/README.md
  k8s/atlas/configmap.yaml
  k8s/atlas/deployment.yaml
  k8s/atlas/hpa.yaml
  k8s/atlas/ingress.yaml
  k8s/atlas/kustomization.yaml
  k8s/atlas/pvc.yaml
  k8s/atlas/secret.yaml
  k8s/atlas/service.yaml
  sdk/python/README.md
  sdk/python/atlas/__init__.py
  sdk/python/atlas/client.py
  sdk/python/atlas/exceptions.py
  sdk/python/atlas/py.typed
  sdk/python/atlas/types.py
  sdk/python/pyproject.toml
  tools/atlas/README.md
  tools/atlas/index.ts
  tools/atlas/package.json
  tools/atlas/tsconfig.build.json
Due: eslint --fix, prettier --write, node scripts/standards-validator.js --docs, node scripts/standards-validator.js --yaml

feat(atlas): add PostgreSQL storage backend
  docs/atlas/IMPLEMENTATION_STATUS.md
  tools/atlas/storage/index.ts
  tools/atlas/storage/postgres-backend.ts
Due: eslint --fix, prettier --write, node scripts/standards-validator.js --docs

feat(atlas): add JWT authentication and RBAC
  docs/atlas/IMPLEMENTATION_STATUS.md
  tools/atlas/api/auth.ts
  tools/atlas/api/router.ts
  tools/atlas/api/server.ts
Due: eslint --fix, prettier --write, node scripts/standards-validator.js --docs

feat(atlas): add PostgreSQL storage backend
  tools/atlas/api/auth.ts
Due: eslint --fix

feat(automation): add crew orchestration configurations
  automation/orchestration/crews/data_science_crew.yaml
  automation/orchestration/crews/fullstack_crew.yaml
Due: prettier --write, node scripts/standards-validator.js --yaml

feat(automation): add project-level prompt templates
  automation/prompts/project/api-development.md
  automation/prompts/project/automation-ts-implementation.md
  automation/prompts/project/data-engineering-pipeline.md
  automation/prompts/project/ml-pipeline-development.md
  automation/prompts/project/session-summary-2024-11-30.md
Due: prettier --write, node scripts/standards-validator.js --docs

feat(automation): add system-level AI reasoning prompts
  automation/prompts/system/chain-of-thought-reasoning.md
  automation/prompts/system/constitutional-self-alignment.md
  automation/prompts/system/context-engineering.md
  automation/prompts/system/state-of-the-art-ai-practices.md
Due: prettier --write, node scripts/standards-validator.js --docs

feat(automation): add task-specific prompt templates
  automation/prompts/tasks/agentic-code-review.md
  automation/prompts/tasks/multi-hop-rag-processing.md
  automation/prompts/tasks/test-generation.md
Due: prettier --write, node scripts/standards-validator.js --docs

chore(automation): update agent and workflow configurations
  .vscode/settings.json
  automation/agents/config/agents.yaml
  automation/workflows/config/workflows.yaml
Due: prettier --write, node scripts/standards-validator.js --yaml

docs: add comprehensive repository audit (November 30, 2025)
  AUDIT_SUMMARY.md
  COMMIT_PLAN.md
  REPOSITORY_AUDIT_2025-11-30.md
Due: prettier --write, node scripts/standards-validator.js --docs

docs: add folder deletion protections to CLAUDE.md
  CLAUDE.md
  automation/prompts/project/session-summary-2024-11-30.md
Due: prettier --write, node scripts/standards-validator.js --docs

feat: rebuild automation-ts TypeScript CLI
  automation-ts/.eslintrc.json
  automation-ts/.gitignore
  automation-ts/README.md
  automation-ts/jest.config.js
  automation-ts/package-lock.json
  automation-ts/package.json
  automation-ts/src/__tests__/crews.test.ts
  automation-ts/src/__tests__/deployment.test.ts
  automation-ts/src/__tests__/routing.test.ts
  automation-ts/src/__tests__/types.test.ts
  automation-ts/src/__tests__/utils.test.ts
  automation-ts/src/cli/index.ts
  automation-ts/src/crews/index.ts
  automation-ts/src/deployment/index.ts
  automation-ts/src/executor/index.ts
  automation-ts/src/index.ts
  automation-ts/src/types/index.ts
  automation-ts/src/utils/file.ts
  automation-ts/src/validation/index.ts
  automation-ts/tsconfig.json
Due: eslint --fix, prettier --write, node scripts/standards-validator.js --docs

feat: add comprehensive superprompts for all project domains
  automation/prompts/CATALOG.md
  automation/prompts/project/AI_ML_INTEGRATION_SUPERPROMPT.md
  automation/prompts/project/CICD_PIPELINE_SUPERPROMPT.md
  automation/prompts/project/GATING_APPROVAL_SUPERPROMPT.md
  automation/prompts/project/GOVERNANCE_COMPLIANCE_SUPERPROMPT.md
  automation/prompts/project/MONOREPO_ARCHITECTURE_SUPERPROMPT.md
  automation/prompts/project/PLATFORM_DEPLOYMENT_SUPERPROMPT.md
  automation/prompts/project/PROMPT_OPTIMIZATION_SUPERPROMPT.md
  automation/prompts/project/SECURITY_CYBERSECURITY_SUPERPROMPT.md
  automation/prompts/project/TESTING_QA_SUPERPROMPT.md
  automation/prompts/project/UI_UX_DESIGN_SUPERPROMPT.md
Due: prettier --write, node scripts/standards-validator.js --docs

feat: add enterprise agentic AI and KILO consolidation superprompts
  automation/prompts/project/ENTERPRISE_AGENTIC_AI_SUPERPROMPT.md
  automation/prompts/project/KILO_CONSOLIDATION_SUPERPROMPT.md
Due: prettier --write, node scripts/standards-validator.js --docs

docs: update catalog with enterprise superprompts (49 total)
  automation/prompts/CATALOG.md
Due: prettier --write, node scripts/standards-validator.js --docs

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{json,md,yml,yaml}
  node scripts/standards-validator.js --docs: any of: *.md
  node scripts/standards-validator.js --yaml: any of: *.{yml,yaml}
