Repository alaweimm90/alaweimm90: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, node scripts/standards-validator.js --docs, node scripts/standards-validator.js --yaml

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix"],
  "*.{json,md,yml,yaml}": ["prettier --write"],
  "*.md": ["node scripts/standards-validator.js --docs"],
  "*.{yml,yaml}": ["node scripts/standards-validator.js --yaml"]
}

feat: add optimizer tests and DevOps agent routing integration
  tests/atlas/services/optimizer.test.ts
  tools/atlas/orchestration/router.ts
Due: eslint --fix

feat: add DevOps CLI commands for agent and workflow management
  tools/atlas/cli/commands.ts
  tools/atlas/cli/commands/devops.ts
Due: eslint --fix

chore: archive temp report files to .archive/reports/
  AI_SYSTEM_SUMMARY.md
  analysis_inventory.md
  cleanup_summary.md
  consolidation_complete.md
  deployment_verification.md
  implementation_plan.md
  migration_report.md
  testing_report.md
Due: prettier --write, node scripts/standards-validator.js --docs

feat(atlas-monitor): implement CODEX real-time refactors and improvements
  .vscode/tasks.json
  package.json
  tests/ai/cache.test.ts
  tests/ai/compliance.test.ts
  tests/ai/errors.test.ts
  tests/ai/issues.test.ts
  tests/ai/monitor.test.ts
  tests/ai/security.test.ts
  tools/atlas/analysis/analyzer.ts
  tools/atlas/api/auth.ts
  tools/atlas/services/monitor.ts
Due: eslint --fix, prettier --write

feat(types): add comprehensive return type annotations and DTOs
  automation/SYSTEM_SUMMARY.md
  tools/ai/api/server.ts
  tools/ai/vscode/integration.ts
  tools/atlas/cli/utils.ts
  tools/atlas/services/dashboard.ts
  tools/atlas/services/optimizer.ts
  tools/atlas/types/index.ts
Due: eslint --fix, prettier --write, node scripts/standards-validator.js --docs

test(monitor): add advanced repository monitor test scenarios
  tests/ai/monitor.test.ts
Due: eslint --fix

feat(orchestration): add multi-agent codebase orchestrator with sequential thinking
  automation/agents/config/agents.yaml
  automation/orchestration/codebase_orchestrator.py
  automation/orchestration/patterns/sequential_thinking.yaml
  automation/workflows/config/codebase_audit.yaml
Due: prettier --write, node scripts/standards-validator.js --yaml

refactor: fix bare exception handling and update governance docs
  .metaHub/policies/protected-files.yaml
  automation/services/integration_coordinator.py
  docs/CODEMAP.md
Due: prettier --write, node scripts/standards-validator.js --docs, node scripts/standards-validator.js --yaml

feat(ai): implement self-learning superprompt infrastructure
  .ai/learning/effectiveness-tracker.yaml
  .ai/prompt-engine/engine.py
  .ai/prompt-engine/orchestration-integration.yaml
  .ai/prompt-engine/selector.yaml
  .ai/superprompts/architect.yaml
  .ai/superprompts/codebase-sentinel.yaml
  .ai/superprompts/security-auditor.yaml
  automation/parallel_executor.py
  automation/services/build_test_coordinator.py
  automation/services/deployment_service.py
Due: prettier --write, node scripts/standards-validator.js --yaml

refactor: add TypeScript path aliases and standardize module resolution
  ANALYSIS_INDEX.md
  ANALYSIS_SUMMARY.txt
  OPTIMIZATION_ROADMAP_VISUAL.md
  POST_QUICK_WINS_ANALYSIS.md
  QUICK_START_NEXT_STEPS.md
  automation/claude_http_integration.py
  automation/claude_integration.py
  automation/cli.py
  automation/debt_cli.py
  automation/debt_gate.py
  automation/debt_scan.json
  automation/debt_scan.md
  automation/governance/policies/security_scanning.yaml
  automation/governance/policies/technical_debt.yaml
  automation/governance/structure.md
  automation/remediation_plan.md
  automation/remediation_plan_cli.md
  automation/remediation_plan_generator.py
  automation/remediation_summary.json
  automation/security_plan.md
  automation/services/claude_reasoning.py
  automation/technical_debt_remediation.py
  automation/test_scan.md
  tsconfig.json
Due: prettier --write, node scripts/standards-validator.js --docs, node scripts/standards-validator.js --yaml

refactor: migrate imports to use path aliases and fix TypeScript errors
  automation/types/index.ts
  tools/ai/integrations/atlas.ts
  tools/ai/integrations/test-integration.ts
  tools/atlas/adapters/index.ts
  tools/atlas/agents/registry.ts
  tools/atlas/agents/teams.ts
  tools/atlas/cli/commands/analyze.ts
  tools/atlas/cli/commands/devops.ts
  tools/atlas/cli/commands/team.ts
  tools/atlas/cli/commands/workflow.ts
  tools/atlas/orchestration/circuit-breaker.ts
  tools/atlas/orchestration/fallback.ts
Due: eslint --fix

docs: add optimization progress report after quick wins
  OPTIMIZATION_PROGRESS.md
Due: prettier --write, node scripts/standards-validator.js --docs

feat(ai): add refactoring-expert and debugger superprompts
  .ai/README.md
  .ai/context.yaml
  .ai/prompt-engine/selector.yaml
  .ai/superprompts/debugger.yaml
  .ai/superprompts/refactoring-expert.yaml
Due: prettier --write, node scripts/standards-validator.js --docs, node scripts/standards-validator.js --yaml

refactor(automation): extract helper methods in HTTP debate coordinator
  automation/claude_http_integration.py
  automation/debt_scan.json
  automation/debt_scan.md
Due: prettier --write, node scripts/standards-validator.js --docs

chore(governance): adjust debt policy threshold for false positives
  automation/governance/policies/technical_debt.yaml
Due: prettier --write, node scripts/standards-validator.js --yaml

fix(scanner): improve debt complexity detection accuracy
  automation/debt_scan.json
  automation/debt_scan.md
  automation/technical_debt_remediation.py
Due: prettier --write, node scripts/standards-validator.js --docs

refactor: complete path alias migration for production code
  automation/debt_scan.json
  automation/debt_scan.md
  automation/technical_debt_remediation.py
  scripts/migrate-imports-simple.ts
  scripts/migrate-imports.ts
  tools/ai/cli/compliance-cli.ts
  tools/ai/cli/issues-cli.ts
  tools/ai/cli/security-cli.ts
  tools/atlas/adapters/anthropic.ts
  tools/atlas/adapters/base.ts
  tools/atlas/adapters/google.ts
  tools/atlas/adapters/index.ts
  tools/atlas/adapters/openai.ts
  tools/atlas/agents/registry.ts
  tools/atlas/agents/teams.ts
  tools/atlas/analysis/analyzer.ts
  tools/atlas/api/router.ts
  tools/atlas/cli/commands.ts
  tools/atlas/cli/commands/analyze.ts
  tools/atlas/cli/commands/devops.ts
  tools/atlas/cli/commands/workflow.ts
  tools/atlas/cli/utils.ts
  tools/atlas/cli/workflow-plan.ts
  tools/atlas/cli/workflow-run.ts
  tools/atlas/orchestration/circuit-breaker.ts
  tools/atlas/orchestration/devops-agents.ts
  tools/atlas/orchestration/executor.ts
  tools/atlas/orchestration/fallback.ts
  tools/atlas/orchestration/index.ts
  tools/atlas/orchestration/router.ts
  tools/atlas/orchestration/workflows.ts
  tools/atlas/refactoring/engine.ts
  tools/atlas/services/dashboard.ts
  tools/atlas/services/index.ts
  tools/atlas/services/monitor.ts
  tools/atlas/services/optimizer.ts
  tools/cli/devops.ts
Due: eslint --fix, prettier --write, node scripts/standards-validator.js --docs

feat: consolidate 66 npm scripts into unified CLI
  CLI_MIGRATION_GUIDE.md
  meta-cli.ts
  package-simplified.json
Due: eslint --fix, prettier --write, node scripts/standards-validator.js --docs

docs: add session 2 optimization report - major progress
  OPTIMIZATION_SESSION_2.md
Due: prettier --write, node scripts/standards-validator.js --docs

fix: address critical TypeScript errors and add missing types
  automation/governance/ownership.md
  automation/governance/structure.md
  package-lock.json
  package.json
  tests/ai/cache.test.ts
  tests/atlas/services/optimizer.test.ts
  tools/ai/integrations/atlas.ts
  tools/ai/integrations/test-integration.ts
  tools/atlas/types/index.ts
Due: eslint --fix, prettier --write, node scripts/standards-validator.js --docs

docs: add final optimization summary - transformation complete
  OPTIMIZATION_FINAL_SUMMARY.md
Due: prettier --write, node scripts/standards-validator.js --docs

feat(ai): add master-orchestrator superprompt with enterprise patterns
  .ai/prompt-engine/selector.yaml
  .ai/superprompts/master-orchestrator.yaml
Due: prettier --write, node scripts/standards-validator.js --yaml

feat(ci): add technical debt gate to CI pipeline
  .github/workflows/ci.yml
  .github/workflows/release.yml
  tools/ai/integrations/test-integration.ts
  tools/atlas/analysis/analyzer.ts
  tools/atlas/cli/commands/dashboard.ts
  tools/atlas/cli/commands/template.ts
Due: eslint --fix, prettier --write, node scripts/standards-validator.js --yaml

fix(atlas): remove unused AgentRegistry class export
  tools/atlas/index.ts
Due: eslint --fix

docs: add config consolidation plan and CLI demo script
  config/README.md
  demo-new-cli.sh
Due: prettier --write, node scripts/standards-validator.js --docs

docs: add Phase 1 completion report - massive transformation achieved
  PHASE_1_COMPLETION_REPORT.md
Due: prettier --write, node scripts/standards-validator.js --docs

fix: reduce TypeScript errors from 86 to 57
  tools/atlas/api/server.ts
  tools/atlas/cli/commands/analyze.ts
  tools/atlas/cli/commands/devops.ts
  tools/atlas/integrations/atlas-kilo-bridge.ts
  tools/atlas/orchestration/index.ts
Due: eslint --fix

docs: add Phase 2 optimization progress report
  OPTIMIZATION_PHASE_2.md
Due: prettier --write, node scripts/standards-validator.js --docs

feat: add unified CLI tests and reduce TypeScript errors to 49
  package-lock.json
  package.json
  tests/meta-cli.test.ts
  tools/atlas/services/optimizer.ts
  tools/atlas/types/index.ts
Due: eslint --fix, prettier --write

feat: add repository organization and consistency files
  .editorconfig
  .gitignore
  .nvmrc
  CODEOWNERS
Due: none

docs(operations): add operational runbooks and incident response
  docs/governance/LLM-MODEL-CATALOG.md
  docs/operations/README.md
  docs/operations/incident-response.md
  docs/operations/runbooks/dependency-updates.md
Due: prettier --write, node scripts/standards-validator.js --docs

feat(governance): Add multi-agent governance system with 100% health score
  .ai/mcp/workflows/governance-workflow.yaml
  automation/agents/governance/dashboard.ts
  automation/agents/governance/index.ts
  automation/agents/governance/orchestrator.ts
  automation/agents/governance/skeptic-reviewer.ts
  automation/workflows/auto-refactor.ts
  docs/governance/GOVERNANCE_SYSTEM.md
  docs/index.md
  scripts/find-structure-violations.ts
  scripts/run-dashboard.ts
  scripts/run-refactor-scan.ts
  scripts/run-skeptic-review.ts
Due: eslint --fix, prettier --write, node scripts/standards-validator.js --docs, node scripts/standards-validator.js --yaml

feat(metahub): Add Python governance scripts
  .metaHub/scripts/enforce.py
  .metaHub/scripts/meta.py
Due: none

docs(prompts): Add Lovable Template Generation Superprompt
  automation/prompts/project/LOVABLE_TEMPLATE_SUPERPROMPT.md
Due: prettier --write, node scripts/standards-validator.js --docs

fix(metahub): Minor fixes to Python governance scripts
  .metaHub/scripts/catalog.py
  .metaHub/scripts/meta.py
Due: none

refactor(meta): optimize Python code for efficiency
  .metaHub/scripts/meta.py
Due: none
